RewriteEngine On

# API PHP
RewriteRule ^api/?$ api/index.php [QSA,L]
RewriteRule ^api/(.*)$ api/index.php [QSA,L]

# Front controller para SPA cliente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ public/index.html [L]
RewriteRule ^(.*)$ public/$1 [L]
